/*
    *************************************
    !INSERT/EDIT ALL SCSS VARIABLES HERE
    *************************************
*/
$header: yellow;
$main: blue;
$footer: green;

$roboto-font:'Roboto Mono', monospace;
$hachi-font: 'Hachi Maru Pop', cursive;

$white-color: #fff;
$primary-color: #18AFF1;
