{{> ./partials/header.hbs }}
<div class="info">
    <h1>Andromeda</h1>
    <p>A MVC Boilerplate made by ReverbOD</p>
    <a href="#">GET STARTED</a>
    <a href="#">CONTACT ME</a>
</div>
{{> ./partials/footer.hbs}}