        <!-- footer page-->
        <footer>
            <div>Footer</div>
        </footer>
    <!-- end footer -->
    </body>
    <!-- end body -->

    <!-- Insert here Dependencies -->
    <!-- Webpack JS Compiled File-->
    <script src="dist/bundle.js"></script>

</html>