$bg-color: #f2f7f5;
$headline: #00473e;
$primary-text: #475d5b;

$button-primary: #faae2b;
$button-text-primary: #00473e;
$button-secondary: #faae2b;
$button-secondary-text: #faae2b;
$material-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

// color
$off-white: #FAF9F6;

// state message color
$alert: #FF3131;
$warn: #FFC000;
$success: #50C878;
$info: #0096FF;